@model IEnumerable<Loja.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>
<p>
    <a class="btn btn-info" href="/Cliente/Incluir">Novo</a>
</p>
<table class="table">
    <tr>
        <th>Nome:</th>
        <th>E-mail:</th>
    </tr>
    @foreach (var cliente in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(cliente.Nome, "Detalhes", new { id = cliente.Id })
            </td>
            <td>@cliente.Email</td>
        </tr>
    }
</table>