@model Loja.Models.Produto

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>
<h4>Confirma a exclusão do Produto</h4>

<p>
    @Model.Nome
</p>

<hr />

<div>
    <form method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <hr />
        <a href="/Produto/Index" class="btn btn-default">Voltar</a>
        <input type="submit" value="Excluir" class="btn btn-danger" />
    </form>
</div>

