@model Loja.Models.Produto

@{
    ViewBag.Title = "Incluir";
}

<h2>Incluir produto</h2>

<form method="post" class="form-horizontal">

    @Html.ValidationSummary(null, new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label" for="Nome">Nome:</label>
        <input class="form-control" type="text" name="Nome" value="@Model.Nome" />
    </div>
    <div class="form-group">
        <label class="control-label" for="Preco">Preço:</label>
        <input class="form-control" type="text" name="Preco" value="@Model.Preco" />
    </div>
    <div class="form-group">
        <label class="control-label" for="Estoque">Estoque:</label>
        <input class="form-control" type="text" name="Estoque" value="@Model.Estoque" />
    </div>
    <div>
        <input class="btn btn-default" type="submit" value="Gravar" />
    </div>
</form>
